@use './variaveis' as *;
.conteiner {
    max-width: 1440px;
    margin: 10px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 15px;
    gap: 20px;
    background-color:$secondary;

    h1 {
        font-size: 26px;
        color: $primary; // Título destacado
    }
}
