@use './variaveis' as *;

.conteiner {
    max-width: 1440px;
    margin: 10px auto;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;

    border-radius: 15px;
    background-color: #fff;

    h1 {
        grid-column: 1 / -1; 
        font-size: 26px;
        text-align: center;
        margin-bottom: 30px;
        color: #1b2b41;;
    }
}

.coluna {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    min-height: 300px;
}
